@media screen and (max-width: 991px) {

    .tm-top-bar.active,
    .tm-top-bar,
    .tm-top-bar-bg {
        height: 65px;
    }

    .tm-top-bar.active .navbar-expand-lg .navbar-nav .nav-link,
    .tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
        padding: 12px 15px;
    }

    #mainNav {
        width: 180px;
        position: absolute;
        top: 60px;
        right: 15px;

        -webkit-box-shadow: 0px 0px 7px 0px rgba(214, 214, 214, 1);
        -moz-box-shadow: 0px 0px 7px 0px rgba(214, 214, 214, 1);
        box-shadow: 0px 0px 7px 0px rgba(214, 214, 214, 1);
    }

    .tm-search-form .tm-form-element {
        width: 33%;
        max-width: 215px;
    }

    .tm-search-form-row {
        width: 98%;
        max-width: 900px;
    }

    .tm-recommended-container {
        margin-top: 30px;
    }

    video {
        top: 25%;
        left: 0;
        min-width: 50%;
        min-height: 50%;
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 767px) {
    .tm-search-form .tm-form-element {
        width: 50%;
        max-width: 235px;
    }

    #tm-section-1 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .tm-media-container,
    .tm-media-title-container {
        max-width: 320px;
        margin-right: auto;
    }

    .tm-media-title-container {
        margin-left: auto;
        margin-bottom: 20px;
    }

    .tm-media-1 {
        flex-direction: column;
        max-width: 280px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .tm-media-body-1 {
        padding-left: 0;
        margin-left: 0;
        margin-top: 20px;
    }

    .tm-bg-video {
        padding-top: 255px;
    }

    .overlay {
        height: 255px;
    }
}

@media screen and (max-width: 767px) and (min-width: 524px) {
    .tm-search-form .tm-form-element-100 {
        width: 100%;
        max-width: none;
    }

    .tm-search-form .tm-form-element-50 {
        width: 50%;
    }
}

@media screen and (max-width: 524px) {
    .tm-section-pad-2 {
        padding: 20px 25px;
    }

    .tm-search-form .tm-form-element {
        width: 100%;
        max-width: 100%;
    }

    .tm-fx-col-xs {
        flex-direction: column;
    }

    .tm-section-pad {
        padding: 25px 15px;
    }

    #tm-section-1 {
        height: 600px;
    }
}

/* IE Fixes */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    /* IE10+ CSS styles go here */
    .ie-h-align-center-fix {
        margin-left: 0;
        margin-right: 0;
    }

    .ie-10-ml-auto {
        float: right;
    }

    .tm-media-body,
    .tm-media-body>* {
        width: 100%;
    }

    .tm-media-body-1,
    .tm-media-body-1>* {
        width: 100%;
    }

    .tm-media-1>* {
        flex: 1 1 auto;
    }
}

@media all and (max-width: 1199px) and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .ie-container-width-fix {
        width: 960px;
    }
}

@media all and (max-width: 600px) {
    .ie-container-width-fix-2 {
        width: 100%;
    }
}

@media all and (max-width: 560px) and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .ie-container-width-fix {
        max-width: 530px;
        width: 100%;
    }
}